@font-face {
  font-display: swap;
  font-family: 'OpenSauceSans';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceSans-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceSans';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceSans';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceSans';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceSans';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceSans-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceSans';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceSans';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceSans';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceSans';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceSans';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceSans';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceSans';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceSans';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceSans-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceSans';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
