@font-face {
  font-display: swap;
  font-family: 'OpenSauceOne';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceOne-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceOne';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceOne-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceOne';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceOne-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceOne';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceOne-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceOne';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceOne-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceOne';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceOne-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceOne';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceOne-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceOne';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceOne-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceOne';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceOne-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceOne';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceOne-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceOne';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceOne-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceOne';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceOne-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceOne';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceOne-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-display: swap;
  font-family: 'OpenSauceOne';
  src: url('~/assets/style/scss/fonts/resources/OpenSauceOne-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
